{% extends "base.html" %}

{% block content %}


<div class="container">
  {% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}
  


    <table class="table  table-bordered">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">IMAGE</th>
      <th scope="col">NAME</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">MODIFY</th>
      <th scope="col">DELETE</th>
      
    </tr>
  </thead>
  <tbody>
    
    {% for i in gallery %}

    <tr>
      
      <td><img src="{{ i.url }}" width="15%" height="15%"></td>
      <td>{{i.name}}</td>
      <td>{{i.quantity}}</td>
      <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-whatever="{{i._id,i.name,i.quantity}}">UPDATE</button></td>
      <td><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteModal" data-whatever="{{i._id}}">DELETE</button></td>
    </tr>
    {% endfor %}
    
    
   
  </tbody>
        
  

</table>
<div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
    
      <!-- Modal content-->
                <div class="modal-content">
                    
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
        
        <div class="form-group">
          <div class="hid">
          <input type="hidden" id="hid" name="hid" >
          </div>
          <label for="name">NAME:</label>
          <input type="text" class="form-control" id="name" name="name"  required>
        </div>
        <div class="form-group inp">
          <label for="quant">QUANTITY:</label>
          <input type="number" class="form-control" id="quant" name="quant"  required>
        </div>
        
        
        
          <button type="submit" class="btn btn-primary " name="update">UPDATE</button>
       
      </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
      
            </div>
         </div>

  

    
  
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="container d-flex pl-0"><h5 class="modal-title ml-2" id="deleteModalLabel">Delete the Inventary Item?</h5></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-muted">If you delete the item will be gone forever. Are you sure you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
         <form method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
         </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  //const person = new Object()
  var modal2 = $(this)
  var modal3 = $(this)
  var id1= recipient.split(",")[0].split("ObjectId('")[1].split("'")[0]
  var name =recipient.split(",")[1].split("'")[1]
  var quant =recipient.split(",")[2].split("'")[1]
  //person=recipient
  //console.log(a)

  
  modal.find('.modal-body input').val(name)
  modal2.find('.inp input').val(quant)
  modal3.find('.hid input').val(id1)
});
</script>
<script>
  $('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  
  
  modal.find('.modal-footer button').val(recipient)
  
});
</script>

{% endblock %}
